* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

/* HEADER */
header {
  background-image: url("./img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  height: 90vh;
}

.menu {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.288);
}

.menu div {
  background-color: white;
  height: 100%;
  width: 30vw;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu ul {
  width: 60%;
  display: flex;
  max-width: 600px;
  justify-content: space-evenly;
}
.menu a {
  color: orange;
  font-size: 1.2em;
}

.menu a:hover {
  border-bottom: solid white;
}

.slider {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider h2 {
  width: 50vw;
  color: white;
  font-size: 2.5em;
  max-width: 500px;
  margin-left: 1rem;
}

.slider div {
  display: flex;
  justify-content: space-between;
}

.slider button {
  width: 10%;
  height: 5vh;
  border: none;
  color: white;
  max-width: 50px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  background-color: orange;
}

/* MAIN */
.produtos section {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.produtos div {
  width: 20vw;
  max-width: 350px;
  height: 45vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px black;
  justify-content: space-evenly;
}

.produtos img {
  width: 90%;
}

.produtos button {
  background-color: #f2b705;
  width: 60%;
  height: 4vh;
  border: none;
  /* Box-shadow */
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.local {
  height: 65vh;
  display: flex;
  align-items: center;
  background-color: #8a493d;
  justify-content: space-evenly;
}

.local div {
  width: 30vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.local img {
  width: 90%;
  height: 30vh;
}

.contato {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.formulario {
  width: 50%;
  height: 50vh;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: #f2b705;
}

.formulario input {
  width: 100%;
  height: 5vh;
  padding-left: 5px;
  border: #f2b705 solid 1px;
}

.formulario .mensagem {
  height: 10vh;
}

.formulario div {
  display: flex;
  width: 100%;
}

form {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.formulario button {
  width: 40%;
  border: none;
  height: 5vh;
  border-radius: 20px;
  background-color: #f2b705;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */

footer {
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #abaaaa;
}

footer div {
  width: 30%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  background-color: white;
}

/* Responsivo */
@media (max-width: 700px) {
  header {
    font-size: 0.6em;
  }

  header img {
    width: 40%;
  }

  .produtos div {
    width: 80%;
    height: 50vh;
  }

  .produtos section {
    height: 160vh;
    text-align: center;
  }

  .local {
    flex-direction: column;
    height: 170vh;
  }

  .local ul,
  h3 {
    width: 80vw;
  }

  .local img {
    width: 60vw;
  }

  .formulario {
    width: 90vw;
  }

  footer img {
    width: 25%;
  }
}
